@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.loading,
.App {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.notification {
  position: fixed;
  right: 4%;
  top: 10%;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  display: block;
}
.notification span > span {
  color: red;
  cursor: pointer;
  padding-left: 20px;
}
